(
    draw_debug: false,
    tile: (
        size: 0.48,
        border_thickness: -0.0122,
        border_color: (29, 185, 88, 255),
        tiles: {
            (0, 0): (),
            (17, -18): (),
            (-1, 0): (),
            (22, -9): (),
            (20, -15): (),
            (11, 4): (),
            (12, -12): (),
            (-2, -5): (),
            (10, -12): (),
            (7, 9): (),
            (18, -14): (),
            (19, -2): (),
            (23, -13): (),
            (13, -12): (),
            (15, -11): (),
            (21, -15): (),
            (12, -17): (),
            (14, -4): (),
            (16, -19): (),
            (18, -5): (),
            (17, 1): (),
            (-3, 0): (),
            (24, -9): (),
            (13, -13): (),
            (6, 10): (),
            (17, -4): (),
            (19, -17): (),
            (-6, 2): (),
            (11, -14): (),
            (14, -9): (),
            (16, -12): (),
            (3, 8): (),
            (20, -5): (),
            (8, -5): (),
            (12, -2): (),
            (14, -17): (),
            (13, -6): (),
            (17, -11): (),
            (19, -12): (),
            (-2, 2): (),
            (9, -9): (),
            (11, -7): (),
            (15, -5): (),
            (17, -19): (),
            (0, -3): (),
            (18, -19): (),
            (16, -1): (),
            (22, -12): (),
            (-5, 0): (),
            (20, -4): (),
            (12, -15): (),
            (1, 8): (),
            (17, -14): (),
            (18, -11): (),
            (21, -20): (),
            (19, -3): (),
            (15, -14): (),
            (0, 4): (),
            (21, -12): (),
            (20, -11): (),
            (-1, 4): (),
            (11, 8): (),
            (-2, -1): (),
            (16, -18): (),
            (18, -2): (),
            (20, -19): (),
            (-3, 5): (),
            (23, -9): (),
            (12, 7): (),
            (-4, 1): (),
            (13, -16): (),
            (7, -6): (),
            (6, 9): (),
            (23, -17): (),
            (10, 7): (),
            (9, -7): (),
            (9, 7): (),
            (10, -7): (),
            (14, -8): (),
            (16, -15): (),
            (8, -10): (),
            (-4, -3): (),
            (12, -5): (),
            (-3, -3): (),
            (17, -8): (),
            (19, -13): (),
            (11, -10): (),
            (15, -8): (),
            (14, -13): (),
            (16, -8): (),
            (22, -15): (),
            (12, -14): (),
            (17, -15): (),
            (2, 8): (),
            (19, -8): (),
            (11, -3): (),
            (13, -18): (),
            (15, -1): (),
            (-1, -3): (),
            (0, 1): (),
            (20, -16): (),
            (-1, 1): (),
            (11, 5): (),
            (10, -9): (),
            (7, 8): (),
            (22, -8): (),
            (-5, 4): (),
            (18, -15): (),
            (-2, -4): (),
            (9, 9): (),
            (12, -11): (),
            (23, -16): (),
            (13, 4): (),
            (13, -11): (),
            (15, -10): (),
            (21, -16): (),
            (14, -3): (),
            (16, -14): (),
            (1, 7): (),
            (18, -6): (),
            (-3, 1): (),
            (24, -16): (),
            (17, 0): (),
            (8, -11): (),
            (8, 10): (),
            (-3, -2): (),
            (15, -19): (),
            (2, 6): (),
            (19, -18): (),
            (13, -4): (),
            (17, -1): (),
            (-6, 1): (),
            (11, -13): (),
            (14, -12): (),
            (16, -11): (),
            (20, -6): (),
            (8, -6): (),
            (13, -5): (),
            (17, -12): (),
            (19, -9): (),
            (-2, 3): (),
            (7, -9): (),
            (10, 8): (),
            (9, -10): (),
            (15, -4): (),
            (-1, -2): (),
            (16, -4): (),
            (17, -20): (),
            (20, -13): (),
            (15, 0): (),
            (18, -20): (),
            (-1, 2): (),
            (22, -11): (),
            (-5, 3): (),
            (12, -10): (),
            (18, -12): (),
            (20, -21): (),
            (19, -4): (),
            (1, 9): (),
            (15, -13): (),
            (21, -9): (),
            (-1, 5): (),
            (20, -12): (),
            (10, -13): (),
            (14, -2): (),
            (16, -17): (),
            (1, 0): (),
            (20, -20): (),
            (-3, 2): (),
            (18, -3): (),
            (-4, 2): (),
            (7, -7): (),
            (23, -12): (),
            (6, 8): (),
            (12, 4): (),
            (8, 9): (),
            (19, -19): (),
            (13, -15): (),
            (24, -11): (),
            (-6, 4): (),
            (9, -8): (),
            (10, -8): (),
            (10, 6): (),
            (14, -7): (),
            (11, -16): (),
            (16, -10): (),
            (9, 6): (),
            (8, -7): (),
            (12, -8): (),
            (-4, -2): (),
            (13, -8): (),
            (17, -5): (),
            (19, -14): (),
            (-2, 0): (),
            (11, -9): (),
            (15, -7): (),
            (-1, -5): (),
            (16, -7): (),
            (18, -17): (),
            (14, -16): (),
            (0, -5): (),
            (22, -14): (),
            (12, -13): (),
            (18, -9): (),
            (17, -16): (),
            (19, -5): (),
            (2, 9): (),
            (-5, -1): (),
            (13, -17): (),
            (15, -16): (),
            (11, -2): (),
            (0, 2): (),
            (16, 0): (),
            (20, -9): (),
            (11, 6): (),
            (10, -10): (),
            (9, 8): (),
            (-2, -3): (),
            (18, -16): (),
            (20, -17): (),
            (13, 5): (),
            (23, -15): (),
            (13, -10): (),
            (15, -9): (),
            (21, -13): (),
            (10, 5): (),
            (14, -6): (),
            (16, -13): (),
            (18, -7): (),
            (24, -15): (),
            (13, -3): (),
            (-3, -1): (),
            (17, -2): (),
            (15, -18): (),
            (21, -8): (),
            (2, 7): (),
            (19, -15): (),
            (11, -12): (),
            (14, -11): (),
            (16, -6): (),
            (3, 6): (),
            (20, -7): (),
            (22, -17): (),
            (12, -4): (),
            (14, -19): (),
            (17, -9): (),
            (19, -10): (),
            (-2, 4): (),
            (9, -11): (),
            (25, -16): (),
            (11, -5): (),
            (-1, -1): (),
            (17, -17): (),
            (15, -3): (),
            (18, -21): (),
            (-1, 3): (),
            (22, -10): (),
            (-5, 2): (),
            (16, -3): (),
            (12, -9): (),
            (20, -14): (),
            (15, 1): (),
            (10, -11): (),
            (7, 10): (),
            (18, -13): (),
            (21, -18): (),
            (23, -14): (),
            (15, -12): (),
            (21, -10): (),
            (10, -14): (),
            (16, -20): (),
            (18, -4): (),
            (1, 1): (),
            (-3, 3): (),
            (24, -10): (),
            (23, -11): (),
            (12, 5): (),
            (8, 8): (),
            (13, -14): (),
            (-4, 3): (),
            (17, -3): (),
            (7, -8): (),
            (19, -20): (),
            (-6, 3): (),
            (11, -15): (),
            (14, -10): (),
            (16, -9): (),
            (8, -8): (),
            (-4, -1): (),
            (14, -18): (),
            (12, -7): (),
            (13, -7): (),
            (17, -6): (),
            (19, -11): (),
            (-2, 1): (),
            (18, 0): (),
            (11, -8): (),
            (15, -6): (),
            (14, -15): (),
            (0, -4): (),
            (18, -18): (),
            (16, -2): (),
            (22, -13): (),
            (-5, 1): (),
            (12, -16): (),
            (18, -10): (),
            (17, -13): (),
            (19, -6): (),
            (21, -19): (),
            (15, -15): (),
            (16, 1): (),
            (0, 3): (),
            (20, -10): (),
            (21, -11): (),
            (11, 7): (),
            (-2, -2): (),
            (18, -1): (),
            (1, 2): (),
            (20, -18): (),
            (-3, 4): (),
            (23, -10): (),
            (12, 6): (),
            (8, 7): (),
            (13, -9): (),
            (-4, 0): (),
            (13, 6): (),
            (19, -21): (),
            (21, -14): (),
            (7, -5): (),
            (9, -6): (),
            (14, -5): (),
            (16, -16): (),
            (18, -8): (),
            (24, -14): (),
            (8, -9): (),
            (7, 7): (),
            (12, -6): (),
            (-3, -4): (),
            (15, -17): (),
            (13, -2): (),
            (19, -16): (),
            (17, -7): (),
            (11, -11): (),
            (14, -14): (),
            (3, 7): (),
            (16, -5): (),
            (20, -8): (),
            (22, -16): (),
            (12, -3): (),
            (17, -10): (),
            (19, -7): (),
            (-2, 5): (),
            (23, -8): (),
            (9, -12): (),
            (11, -4): (),
            (15, -2): (),
            (-1, -4): (),
        },
        art_handle: 4,
    ),
    draw: (
        zoom: 4.8,
        camera_move: 0.41,
        art: [
            (
                file: "golem frames/side_spritesheet.png",
                scale: 0.0025,
                spritesheet: Some((
                    rows: 3,
                    columns: 4,
                    total: 12,
                    frame_rate: 2,
                    hold_at: 3,
                )),
            ),
            (
                file: "golem frames/down_spritesheet.png",
                scale: 0.0025,
                spritesheet: Some((
                    rows: 3,
                    columns: 4,
                    total: 12,
                    frame_rate: 2,
                    hold_at: 3,
                )),
            ),
            (
                file: "golem frames/up_spritesheet.png",
                scale: 0.0025,
                spritesheet: Some((
                    rows: 3,
                    columns: 4,
                    total: 12,
                    frame_rate: 2,
                    hold_at: 3,
                )),
            ),
            (
                file: "golem frames/weapon_ready_spritesheet.png",
                scale: 0.0025,
                spritesheet: Some((
                    rows: 3,
                    columns: 5,
                    total: 13,
                    frame_rate: 3,
                    hold_at: 12,
                )),
            ),
            (
                file: "tiles.png",
                scale: 0.0016,
                spritesheet: Some((
                    rows: 1,
                    columns: 3,
                    total: 3,
                    frame_rate: 1,
                    hold_at: 0,
                )),
            ),
            (
                file: "baseball.png",
                scale: 0.0016,
                align: Center,
            ),
            (
                file: "target frames/spritesheet.png",
                scale: 0.0025,
                spritesheet: Some((
                    rows: 4,
                    columns: 4,
                    total: 15,
                    frame_rate: 3,
                    hold_at: 0,
                )),
            ),
            (
                file: "vase frames/spritesheet.png",
                scale: 0.0025,
                spritesheet: Some((
                    rows: 4,
                    columns: 4,
                    total: 15,
                    frame_rate: 3,
                    hold_at: 0,
                )),
            ),
            (
                file: "vase.png",
                scale: 0.0025,
            ),
            (
                file: "slime frames/spritesheet.png",
                scale: 0.0025,
                spritesheet: Some((
                    rows: 4,
                    columns: 5,
                    total: 19,
                    frame_rate: 3,
                    hold_at: 0,
                )),
            ),
            (
                file: "atmosphere/butterfly/spritesheet.png",
                scale: 0.0034,
                spritesheet: Some((
                    rows: 3,
                    columns: 4,
                    total: 12,
                    frame_rate: 2,
                    hold_at: 0,
                )),
            ),
            (
                file: "atmosphere/inchworm/spritesheet.png",
                scale: 0.0031,
                spritesheet: Some((
                    rows: 3,
                    columns: 5,
                    total: 13,
                    frame_rate: 3,
                    hold_at: 0,
                )),
            ),
            (
                file: "atmosphere/grass/spritesheet.png",
                scale: 0.003,
                spritesheet: Some((
                    rows: 3,
                    columns: 5,
                    total: 13,
                    frame_rate: 3,
                    hold_at: 0,
                )),
            ),
            (
                file: "atmosphere/bee/spritesheet.png",
                scale: 0.0034,
                spritesheet: Some((
                    rows: 2,
                    columns: 2,
                    total: 4,
                    frame_rate: 2,
                    hold_at: 0,
                )),
            ),
            (
                file: "atmosphere/ruins.png",
                scale: 0.0031,
            ),
            (
                file: "atmosphere/stump.png",
                scale: 0.0036,
            ),
            (
                file: "atmosphere/mushroom.png",
                scale: 0.0025,
            ),
            (
                file: "atmosphere/sunflower.png",
                scale: 0.0025,
            ),
        ],
    ),
    player: (
        directions: (
            up: (
                art: 2,
                weapon_in_front: false,
            ),
            side: (
                art: 0,
                weapon_in_front: true,
            ),
            down: (
                art: 1,
                weapon_in_front: true,
            ),
        ),
        weapon: (
            offset: [
                -0.129,
                -0.497,
            ],
            screen_offset: [
                -50.4,
                -68.18,
            ],
            bottom_offset: 0,
            reload_time: 60,
            force_magnitude: 0.4,
            force_decay: 0.877,
            hitbox_size: [
                0.09,
                0.09,
            ],
            boomerang: true,
            player_knock_back_force: 0.09,
            player_knock_back_decay: 0.914,
            keyframes: [
                (
                    time: 0,
                    pos: [
                        0.144,
                        -0.35,
                    ],
                    rot: 25,
                    bottom_offset: 0,
                    behind_wielder: false,
                ),
                (
                    time: 0.33,
                    pos: [
                        0.2496,
                        -0.864,
                    ],
                    rot: -45,
                    bottom_offset: 0,
                    behind_wielder: false,
                ),
                (
                    time: 0.76,
                    pos: [
                        -0.064,
                        -0.7,
                    ],
                    rot: -200,
                    bottom_offset: 0,
                    behind_wielder: true,
                ),
                (
                    time: 0.91,
                    pos: [
                        -0.129,
                        -0.497,
                    ],
                    rot: 0,
                    bottom_offset: 0,
                    behind_wielder: false,
                ),
            ],
            animation_art: 3,
        ),
        speed: 0.039,
        stop_decay: 0.92,
    ),
    prefab: (
        instances: [
            (
                value: None,
                version: 0,
            ),
            (
                value: Some((
                    prefab_key: (
                        idx: 2,
                        version: 1,
                    ),
                    comps: [
                        Position([
                            -1.8928026,
                            -0.6149323,
                        ]),
                    ],
                )),
                version: 1,
            ),
            (
                value: Some((
                    prefab_key: (
                        idx: 2,
                        version: 1,
                    ),
                    comps: [
                        Position([
                            -3.4064205,
                            0.21238269,
                        ]),
                    ],
                )),
                version: 1,
            ),
        ],
        fabs: [
            (
                value: None,
                version: 0,
            ),
            (
                value: Some((
                    name: "Vase",
                    comps: [
                        Art(8),
                        DeathAnimation(7),
                        Health(1),
                        Hitbox([
                            0.25,
                            0.2,
                        ]),
                        Collision((
                            collision_static: None,
                            blacklist: [],
                            whitelist: [
                                Weapon,
                                Player,
                                World,
                                Enemy,
                            ],
                            membership: [
                                World,
                            ],
                        )),
                    ],
                )),
                version: 1,
            ),
            (
                value: Some((
                    name: "GrassClump",
                    comps: [
                        Art(12),
                        Collision((
                            collision_static: None,
                            blacklist: [],
                            whitelist: [],
                            membership: [],
                        )),
                        Hitbox([
                            0.613,
                            0.358,
                        ]),
                    ],
                )),
                version: 1,
            ),
            (
                value: Some((
                    name: "Bee",
                    comps: [
                        Art(13),
                        Collision((
                            collision_static: None,
                            blacklist: [],
                            whitelist: [],
                            membership: [],
                        )),
                        Hitbox([
                            0.196,
                            0.013,
                        ]),
                        Script("BugWander"),
                    ],
                )),
                version: 1,
            ),
            (
                value: Some((
                    name: "Inchworm",
                    comps: [
                        Art(11),
                        Collision((
                            collision_static: None,
                            blacklist: [],
                            whitelist: [
                                Creature,
                            ],
                            membership: [
                                Creature,
                            ],
                        )),
                        Hitbox([
                            0.074,
                            0.074,
                        ]),
                        Script("Inchworm"),
                    ],
                )),
                version: 1,
            ),
            (
                value: Some((
                    name: "Butterfly",
                    comps: [
                        Art(10),
                        Collision((
                            collision_static: None,
                            blacklist: [],
                            whitelist: [],
                            membership: [],
                        )),
                        Hitbox([
                            0.237,
                            0.03,
                        ]),
                        Script("BugWander"),
                    ],
                )),
                version: 1,
            ),
            (
                value: Some((
                    name: "Ruin",
                    comps: [
                        Art(14),
                        Hitbox([
                            0,
                            0,
                        ]),
                        Collision((
                            collision_static: None,
                            blacklist: [],
                            whitelist: [],
                            membership: [],
                        )),
                        ZOffset(-0.893),
                    ],
                )),
                version: 1,
            ),
            (
                value: Some((
                    name: "Stump",
                    comps: [
                        Art(15),
                        Collision((
                            collision_static: Some(()),
                            blacklist: [],
                            whitelist: [
                                Player,
                            ],
                            membership: [
                                World,
                            ],
                        )),
                        Hitbox([
                            1.629,
                            0.542,
                        ]),
                    ],
                )),
                version: 1,
            ),
            (
                value: Some((
                    name: "Sunflower",
                    comps: [
                        Art(17),
                        Collision((
                            collision_static: None,
                            blacklist: [],
                            whitelist: [],
                            membership: [],
                        )),
                        Hitbox([
                            0,
                            0,
                        ]),
                    ],
                )),
                version: 1,
            ),
            (
                value: Some((
                    name: "Mushroom",
                    comps: [
                        Art(16),
                        Collision((
                            collision_static: None,
                            blacklist: [],
                            whitelist: [],
                            membership: [],
                        )),
                        Hitbox([
                            0,
                            0,
                        ]),
                    ],
                )),
                version: 1,
            ),
        ],
    ),
)